/* src/pages/ProductList/ProductList.module.css */

.customCheckbox,
.customRadio {
  accent-color: #db2777; /* Cor pink-600 do Tailwind */
}

/* Para garantir a cor correta nos navegadores que não suportam accent-color */
.customCheckbox:checked {
  background-color: #db2777;
  border-color: #db2777;
}

.customRadio:checked {
  background-color: #db2777;
  border-color: #db2777;
}